<div class="dashboard">
	<div id="siderbar" class="d-flex flex-column col">
		<div class="d-flex flex-column justify-content-between p-3 section-header">
			<div class="d-flex justify-content-between top-header">
				<div class="logo-holder">
				 	<img src="assets/logo.svg" alt="" class="image-responsive">
				</div>
				<div class="user-button">
					<img src="assets/user-button.svg" alt="" class="image-responsive">
				</div>
			</div>
			<div class="align-items-center bottom-header d-flex justify-content-between">
				<div class="header-content">
					<h3>District details</h3>
				</div>
				<div class="header-button">
					<a class="btn btn-outline-secondary d-flex align-items-center text-uppercase" href="#" role="button">
						<img src="assets/plus-icon.svg" alt="" class="image-responsive">
						<span>
							District
						</span>
					</a>
				</div>
			</div>
			
		</div>
		<div class="inner-section h-100 d-flex align-items-center justify-content-center">
			<p>Select a district to view details</p>
		</div>
	</div>
	<div class="main-content w-100 p-4">
		<div class="district-holder">
			<div class="district-box col">
				<div class="image-holder">
					<img src="assets/district.png" alt="" class="w-100">
				</div>
				<div class="d-flex district-box-footer align-items-center px-4 w-100 py-2 justify-content-between">
					<div class="content d-flex">
						<div class="icon">
							<img src="assets/arrow-right.svg" alt="" class="image-responsive">
						</div>
						<span>Bostonvılle schools</span>
					</div>
					<div class="dropdown">
					  <button class="btn btn-secondary dropdown-toggle p-0" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
					    <img src="assets/dotted-icon.svg" alt="" class="image-responsive">
					  </button>
					  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
					    <li><a class="dropdown-item" href="#">Edit details</a></li>
					    <li><a class="dropdown-item" href="#">Delete district</a></li>
					  </ul>
					</div>
				</div>
			</div>
			<div class="district-box col">
				<div class="image-holder">
					<img src="assets/district.png" alt="" class="w-100">
				</div>
				<div class="d-flex district-box-footer align-items-center px-4 w-100 py-2 justify-content-between">
					<div class="content d-flex">
						<div class="icon">
							<img src="assets/arrow-right.svg" alt="" class="image-responsive">
						</div>
						<span>Bostonvılle schools</span>
					</div>
					<div class="dropdown">
					  <button class="btn btn-secondary dropdown-toggle p-0" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
					    <img src="assets/dotted-icon.svg" alt="" class="image-responsive">
					  </button>
					  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
					    <li><a class="dropdown-item" href="#">Edit details</a></li>
					    <li><a class="dropdown-item" href="#">Delete district</a></li>
					  </ul>
					</div>
				</div>
			</div>
			<div class="district-box col">
				<div class="image-holder">
					<img src="assets/district.png" alt="" class="w-100">
				</div>
				<div class="d-flex district-box-footer align-items-center px-4 w-100 py-2 justify-content-between">
					<div class="content d-flex">
						<div class="icon">
							<img src="assets/arrow-right.svg" alt="" class="image-responsive">
						</div>
						<span>Bostonvılle schools</span>
					</div>
					<div class="dropdown">
					  <button class="btn btn-secondary dropdown-toggle p-0" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
					    <img src="assets/dotted-icon.svg" alt="" class="image-responsive">
					  </button>
					  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
					    <li><a class="dropdown-item" href="#">Edit details</a></li>
					    <li><a class="dropdown-item" href="#">Delete district</a></li>
					  </ul>
					</div>
				</div>
			</div>
			<div class="district-box col">
				<div class="image-holder">
					<img src="assets/district.png" alt="" class="w-100">
				</div>
				<div class="d-flex district-box-footer align-items-center px-4 w-100 py-2 justify-content-between">
					<div class="content d-flex">
						<div class="icon">
							<img src="assets/arrow-right.svg" alt="" class="image-responsive">
						</div>
						<span>Bostonvılle schools</span>
					</div>
					<div class="dropdown">
					  <button class="btn btn-secondary dropdown-toggle p-0" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
					    <img src="assets/dotted-icon.svg" alt="" class="image-responsive">
					  </button>
					  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
					    <li><a class="dropdown-item" href="#">Edit details</a></li>
					    <li><a class="dropdown-item" href="#">Delete district</a></li>
					  </ul>
					</div>
				</div>
			</div>
			<div class="district-box col">
				<div class="image-holder">
					<img src="assets/district.png" alt="" class="w-100">
				</div>
				<div class="d-flex district-box-footer align-items-center px-4 w-100 py-2 justify-content-between">
					<div class="content d-flex">
						<div class="icon">
							<img src="assets/arrow-right.svg" alt="" class="image-responsive">
						</div>
						<span>Bostonvılle schools</span>
					</div>
					<div class="dropdown">
					  <button class="btn btn-secondary dropdown-toggle p-0 " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
					    <img src="assets/dotted-icon.svg" alt="" class="image-responsive">
					  </button>
					  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
					    <li><a class="dropdown-item" href="#">Edit details</a></li>
					    <li><a class="dropdown-item" href="#">Delete district</a></li>
					  </ul>
					</div>
				</div>
			</div>
			<div class="district-box col">
				<div class="image-holder">
					<img src="assets/district.png" alt="" class="w-100">
				</div>
				<div class="d-flex district-box-footer align-items-center px-4 w-100 py-2 justify-content-between">
					<div class="content d-flex">
						<div class="icon">
							<img src="assets/arrow-right.svg" alt="" class="image-responsive">
						</div>
						<span>Bostonvılle schools</span>
					</div>
					<div class="dropdown">
					  <button class="btn btn-secondary dropdown-toggle p-0" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
					    <img src="assets/dotted-icon.svg" alt="" class="image-responsive">
					  </button>
					  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
					    <li><a class="dropdown-item" href="#">Edit details</a></li>
					    <li><a class="dropdown-item" href="#">Delete district</a></li>
					  </ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>