<div class="dashboard overveiw">
	<div id="siderbar" class="d-flex flex-column col">
		<div class="d-flex flex-column justify-content-between p-3 section-header">
			<div class="d-flex justify-content-between top-header">
				<div class="logo-holder">
				 	<img src="assets/logo.svg" alt="" class="image-responsive">
				</div>
				<div class="user-button">
					<img src="assets/user-button.svg" alt="" class="image-responsive">
				</div>
			</div>
			<div class="align-items-end bottom-header d-flex justify-content-between">
				
				<div class="align-items-end d-flex header-content ">
					<div class="arrow-icon mr15">
						<img src="assets/arrow-left.svg" alt="" class="image-responsive">
					</div>
					<h3>
						<span class="d-block mb-2 titile-name">John Doe</span>
						Buildings
					</h3>
				</div>
				<div class="header-button">
					<a href="#" class="btn btn-outline-secondary d-flex align-items-center text-uppercase" data-bs-toggle="modal" data-bs-target="#add_Building">
						<img src="assets/plus-icon.svg" alt="" class="mr5 image-responsive">
						<span>
							Building
						</span>
					</a>
				</div>
			</div>
			
		</div>
		<div class="inner-section h-100 p15">
			<div class="building-card-holder mb15">
				<div class="building-image">
					<img src="assets/building-img.jpg" alt="" class="image-responsive w-100">
					<div class="building-caption p10">
						<div class="caption-holder p10">
							<div class="building-heading-holder d-flex justify-content-between">
								<h5 class="m-0">St. Xaviers International School</h5>
								<div class="icon-holder">
									<object data="assets/dotted-icon-white.svg" width="20" height="20"> </object>
								</div>
							</div>
							<div class="building-details-holder">
								<p class="m-0"><span>4</span> Sections | <span>12</span> Rooms</p>
							</div>
						</div>
					</div>
				</div>
				<div class="align-items-center building-card-footer d-flex p15">
					<div class="d-flex icon-holder mr10">
						<object data="assets/arrow-right.svg" width="20" height="20"> </object>
					</div>
					<h6 class="m-0">show details</h6>
				</div>
			</div>
			<div class="building-card-holder mb15">
				<div class="building-image">
					<img src="assets/building-img-2.jpg" alt="" class="image-responsive w-100">
					<div class="building-caption p10">
						<div class="caption-holder p10">
							<div class="building-heading-holder d-flex justify-content-between">
								<h5 class="m-0">St. Xaviers International School</h5>
								<div class="icon-holder">
									<object data="assets/dotted-icon-white.svg" width="20" height="20"> </object>
								</div>
							</div>
							<div class="building-details-holder">
								<p class="m-0"><span>4</span> Sections | <span>12</span> Rooms</p>
							</div>
						</div>
					</div>
				</div>
				<div class="align-items-center building-card-footer d-flex p15">
					<div class="d-flex icon-holder mr10">
						<object data="assets/arrow-right.svg" width="20" height="20"> </object>
					</div>
					<h6 class="m-0">show details</h6>
				</div>
			</div>
			<div class="building-card-holder mb15">
				<div class="building-image">
					<img src="assets/building-img.jpg" alt="" class="image-responsive w-100">
					<div class="building-caption p10">
						<div class="caption-holder p10">
							<div class="building-heading-holder d-flex justify-content-between">
								<h5 class="m-0">St. Xaviers International School</h5>
								<div class="icon-holder">
									<object data="assets/dotted-icon-white.svg" width="20" height="20"> </object>
								</div>
							</div>
							<div class="building-details-holder">
								<p class="m-0"><span>4</span> Sections | <span>12</span> Rooms</p>
							</div>
						</div>
					</div>
				</div>
				<div class="align-items-center building-card-footer d-flex p15">
					<div class="d-flex icon-holder mr10">
						<object data="assets/arrow-right.svg" width="20" height="20"> </object>
					</div>
					<h6 class="m-0">show details</h6>
				</div>
			</div>
		</div>
	</div>
	<div class="main-content w-100">
		<div class="main-content-tabs-section">
			<div class="main-content-top-banner">
				<div class="building-image ">
					<img src="assets/top-banner.jpg" alt="" class="image-responsive w-100">
					<div class="building-caption p10">
						<div class="caption-holder p10">
							<div class="building-heading-holder d-flex justify-content-between">
								<h3 class="m-0">Eddison High School</h3>
								<div class="icon-holder">
									<object data="assets/dotted-icon-white.svg" width="20" height="20"> </object>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<nav>
			  <div class="nav nav-tabs" id="nav-tab" role="tablist">
			    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#overveiw" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Overveiw</button>
			    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#reports" type="button" role="tab" aria-controls="reports" aria-selected="false">Reports</button>
			    <button class="nav-link" id="inspections" data-bs-toggle="tab" data-bs-target="#Inspections" type="button" role="tab" aria-controls="Inspections" aria-selected="false">Inspections</button>
			    <button class="nav-link" id="people" data-bs-toggle="tab" data-bs-target="#People" type="button" role="tab" aria-controls="People" aria-selected="false">People</button>
			    <button class="nav-link" id="budgeting" data-bs-toggle="tab" data-bs-target="#Budgeting" type="button" role="tab" aria-controls="Budgeting" aria-selected="false">Budgeting</button>
			    <button class="nav-link" id="products_needed" data-bs-toggle="tab" data-bs-target="#products_needed" type="button" role="tab" aria-controls="products_needed" aria-selected="false">products needed</button>
			    <button class="nav-link" id="savings" data-bs-toggle="tab" data-bs-target="#savings" type="button" role="tab" 
			    aria-controls="savings" aria-selected="false">savings</button>
			    <button class="nav-link" id="cleaning_methods" data-bs-toggle="tab" data-bs-target="#cleaning_methods" type="button" role="tab" 
			    aria-controls="cleaning_methods" aria-selected="false">cleaning methods</button>
			    
			  </div>
			</nav>
			<div class="tab-content" id="nav-tabContent">
			  <div class="tab-pane fade show active" id="overveiw" role="tabpanel" aria-labelledby="Overveiw-tab">
			  		<div class="tabs-inner-content-holder">
				  		<div class="tabs-siderbar">
				  			<!-- overveiw inner tabs section start -->
				  			<div class="section-header">
				  				<h6>Sections</h6>
				  				<div class="header-button">
									<a href="#" class="btn btn-outline-secondary d-flex align-items-center text-uppercase" data-bs-toggle="modal" data-bs-target="#add_Building">
										<img src="assets/plus-icon.svg" alt="" class="mr5 image-responsive">
										<span>
											Section
										</span>
									</a>
								</div>
				  			</div>
				  			<div class="section-list-holder">
				  				<div class="section-list-item active">
				  					<div class="section-list-header d-flex justify-content-between mb20">
				  						<h5>Section 1</h5>
				  						<div class="d-flex icon-holder">
											<object data="assets/arrow-right.svg" width="20" height="20"> </object>
										</div>
				  					</div>
				  					<div class="section-header align-items-end">
				  						<div>
						  				<h6 class="mb-2"><span class="pr5">12</span>rooms</h6>
						  				<h6><span class="pr5">04</span>People</h6>
				  							
				  						</div>
						  				<div class="header-button">
											<a href="#" class="btn btn-outline-secondary d-flex align-items-center text-uppercase" data-bs-toggle="modal" data-bs-target="#add_Building">
												<img src="assets/plus-icon.svg" alt="" class="mr5 image-responsive">
												<span>
													Room
												</span>
											</a>
										</div>
						  			</div>
				  				</div>
				  				<div class="section-list-item">
				  					<div class="section-list-header d-flex justify-content-between mb20">
				  						<h5>Section 1</h5>
				  						<div class="d-flex icon-holder">
											<object data="assets/arrow-right.svg" width="20" height="20"> </object>
										</div>
				  					</div>
				  					<div class="section-header align-items-end">
				  						<div>
						  				<h6 class="mb-2"><span class="pr5">12</span>rooms</h6>
						  				<h6><span class="pr5">04</span>People</h6>
				  							
				  						</div>
						  				<div class="header-button">
											<a href="#" class="btn btn-outline-secondary d-flex align-items-center text-uppercase" data-bs-toggle="modal" data-bs-target="#add_Building">
												<img src="assets/plus-icon.svg" alt="" class="mr5 image-responsive">
												<span>
													Room
												</span>
											</a>
										</div>
						  			</div>
				  				</div>
				  				<div class="section-list-item">
				  					<div class="section-list-header d-flex justify-content-between mb20">
				  						<h5>Section 1</h5>
				  						<div class="d-flex icon-holder">
											<object data="assets/arrow-right.svg" width="20" height="20"> </object>
										</div>
				  					</div>
				  					<div class="section-header align-items-end">
				  						<div>
						  				<h6 class="mb-2"><span class="pr5">12</span>rooms</h6>
						  				<h6><span class="pr5">04</span>People</h6>
				  							
				  						</div>
						  				<div class="header-button">
											<a href="#" class="btn btn-outline-secondary d-flex align-items-center text-uppercase" data-bs-toggle="modal" data-bs-target="#add_Building">
												<img src="assets/plus-icon.svg" alt="" class="mr5 image-responsive">
												<span>
													Room
												</span>
											</a>
										</div>
						  			</div>
				  				</div>
				  				<div class="section-list-item">
				  					<div class="section-list-header d-flex justify-content-between mb20">
				  						<h5>Section 1</h5>
				  						<div class="d-flex icon-holder">
											<object data="assets/arrow-right.svg" width="20" height="20"> </object>
										</div>
				  					</div>
				  					<div class="section-header align-items-end">
				  						<div>
						  				<h6 class="mb-2"><span class="pr5">12</span>rooms</h6>
						  				<h6><span class="pr5">04</span>People</h6>
				  							
				  						</div>
						  				<div class="header-button">
											<a href="#" class="btn btn-outline-secondary d-flex align-items-center text-uppercase" data-bs-toggle="modal" data-bs-target="#add_Building">
												<img src="assets/plus-icon.svg" alt="" class="mr5 image-responsive">
												<span>
													Room
												</span>
											</a>
										</div>
						  			</div>
				  				</div>
				  			</div>
				  			<!-- overveiw inner tabs section end -->
				  		</div>
				  		<div class="tabs-inner-block">

				  			<!-- Select a section to view details  start -->
				  			<div class="section-block d-none">
				  				<div class="image-holder">
				  					<object data="assets/section-img.jpg" width="320" height="244"> </object>
				  					<h5>Select a section to view details</h5>
				  				</div>
				  			</div>
			  				<!-- Select a section to view details end -->

			  				<!-- overview section details overveiw start  -->
			  				<div class="section-details">
			  					<div class="d-flex justify-content-between p15 section-details-header align-items-center">
			  						<div class="section-header">
			  							<h5>Section 1</h5>
			  						</div>
			  						<div class="d-flex header-button justify-content-between">
			  							<a href="#" class="btn btn-outline-secondary d-flex align-items-center text-uppercase" data-bs-toggle="modal" data-bs-target="#add_Building">
											<img src="assets/edit-icon.svg" alt="" class="image-responsive">
										</a>
										<a href="#" class="mx-3 btn btn-outline-secondary d-flex align-items-center text-uppercase" data-bs-toggle="modal" data-bs-target="#add_Building">
											<img src="assets/delete-icon.svg" alt="" class="image-responsive">
										</a>
										<a href="#" class="btn btn-outline-secondary d-flex align-items-center text-uppercase" data-bs-toggle="modal" data-bs-target="#add_Building">
											<img src="assets/plus-icon.svg" alt="" class="mr5 image-responsive">
											<span>
												People
											</span>
										</a>
									</div>
			  					</div>
			  					<div class="section-details-content">
			  						<ul class="d-flex justify-content-between nav nav-tabs mt-2" id="myTab" role="tablist">
									  <li class="nav-item text-center col" role="presentation">
									    <button class="nav-link w-100 active" id="Details-tab" data-bs-toggle="tab" data-bs-target="#Details" type="button" role="tab" aria-controls="Details" aria-selected="true">Details</button>
									  </li>
									  <li class="nav-item text-center col" role="presentation">
									    <button class="nav-link w-100" id="Rooms-tab" data-bs-toggle="tab" data-bs-target="#Rooms" type="button" role="tab" aria-controls="Rooms" aria-selected="false">Rooms</button>
									  </li>
									  <li class="nav-item text-center col" role="presentation">
									    <button class="nav-link w-100" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Profile</button>
									  </li>
									</ul>
									<div class="tab-content" id="myTabContent">
									  <div class="tab-pane fade show active" id="Details" role="tabpanel" aria-labelledby="Details-tab">
									  	<div class="inner-tab-section-list-holder">
									  		<ul class="section-list-block p-0 m-0">
									  			<li class="inner-tab-section-list-item d-flex justify-content-between">
									  				<div class="list-label">
									  					Cleaner
									  				</div>
									  				<div class="list-content">
									  					John Doe
									  				</div>
									  			</li>
									  			<li class="inner-tab-section-list-item d-flex justify-content-between">
									  				<div class="list-label">
									  					Sq. ft.
									  				</div>
									  				<div class="list-content">
									  					14756
									  				</div>
									  			</li>
									  			<li class="inner-tab-section-list-item d-flex justify-content-between">
									  				<div class="list-label">
									  					Desks
									  				</div>
									  				<div class="list-content">
									  					235
									  				</div>
									  			</li>
									  			<li class="inner-tab-section-list-item d-flex justify-content-between">
									  				<div class="list-label">
									  					Windows
									  				</div>
									  				<div class="list-content">
									  					29
									  				</div>
									  			</li>
									  			<li class="inner-tab-section-list-item d-flex justify-content-between">
									  				<div class="list-label">
									  					Trash cans
									  				</div>
									  				<div class="list-content">
									  					20
									  				</div>
									  			</li>
									  			<li class="inner-tab-section-list-item d-flex justify-content-between">
									  				<div class="list-label">
									  					Paper towel dispensers
									  				</div>
									  				<div class="list-content">
									  					20
									  				</div>
									  			</li>
									  			<li class="inner-tab-section-list-item d-flex justify-content-between">
									  				<div class="list-label">
									  					Toiler tissue dispensers
									  				</div>
									  				<div class="list-content">
									  					25
									  				</div>
									  			</li>
									  			<li class="inner-tab-section-list-item d-flex justify-content-between">
									  				<div class="list-label">
									  					Hand soap dispensers
									  				</div>
									  				<div class="list-content">
									  					29
									  				</div>
									  			</li>
									  			<li class="inner-tab-section-list-item d-flex justify-content-between">
									  				<div class="list-label">
									  					Hand sanitizer dispensers
									  				</div>
									  				<div class="list-content">
									  					29
									  				</div>
									  			</li>
									  			<li class="inner-tab-section-list-item d-flex justify-content-between">
									  				<div class="list-label">
									  					<strong>Estimated time to clean</strong>
									  				</div>
									  				<div class="list-content">
									  					<strong>6 hrs 21 minutes</strong>
									  				</div>
									  			</li>
									  		</ul>
									  	</div>
									  </div>
									  <div class="tab-pane fade" id="Rooms" role="tabpanel" aria-labelledby="Rooms-tab">
									  	<div class="inner-tab-section-list-holder room-block">
									  		<ul class="section-list-block p-0 m-0">
									  			<li class="border d-flex flex-column inner-tab-section-list-item justify-content-between m15">
									  				<div class="list-label">
									  					Room 103
									  				</div>
									  				<div class="room-details">
									  					<span>400 sq. ft.</span>
									  					<span>21 desks</span>
									  					<span>08 windows</span>
									  				</div>
									  			</li>
									  			<li class="border d-flex flex-column inner-tab-section-list-item justify-content-between m15">
									  				<div class="list-label">
									  					Room 103
									  				</div>
									  				<div class="room-details">
									  					<span>400 sq. ft.</span>
									  					<span>21 desks</span>
									  					<span>08 windows</span>
									  				</div>
									  			</li>
									  			<li class="border d-flex flex-column inner-tab-section-list-item justify-content-between m15">
									  				<div class="list-label">
									  					Room 103
									  				</div>
									  				<div class="room-details">
									  					<span>400 sq. ft.</span>
									  					<span>21 desks</span>
									  					<span>08 windows</span>
									  				</div>
									  			</li>
									  		</ul>
									  	</div>
									  </div>
									  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
									  	<div class="inner-tab-section-list-holder">
									  		<ul class="section-list-block p-0 m-0">
									  			<li class="inner-tab-section-list-item d-flex justify-content-between">
									  				<div class="list-label">
									  					Abe Doe
									  				</div>
									  			</li>
									  			<li class="inner-tab-section-list-item d-flex justify-content-between">
									  				<div class="list-label">
									  					Bishan Gupta
									  				</div>
									  			</li>
									  			<li class="inner-tab-section-list-item d-flex justify-content-between">
									  				<div class="list-label">
									  					Bueran Hendricks
									  				</div>
									  			</li>
									  			<li class="inner-tab-section-list-item d-flex justify-content-between">
									  				<div class="list-label">
									  					Bunny Reagan
									  				</div>
									  			</li>
									  			<li class="inner-tab-section-list-item d-flex justify-content-between">
									  				<div class="list-label">
									  					Chris Morris
									  				</div>
									  			</li>
									  			<li class="inner-tab-section-list-item d-flex justify-content-between">
									  				<div class="list-label">
									  					Dom Bess
									  				</div>
									  			</li>
									  		</ul>
									  	</div>
									  </div>
									</div>
			  					</div>
			  				</div>
			  				<!-- overview section details overveiw ens  -->

				  		</div>
				  	</div>
			  </div>
			  <div class="tab-pane fade" id="reports" role="tabpanel" aria-labelledby="reports">
			  	<div class="tabs-inner-content-holder">
			  		<div class="tabs-siderbar">
			  			<!-- report sidbar list section start -->
				  			<div class="section-list-holder report-holder">
				  				<div class="section-list-item active">
				  					<div class="section-list-header d-flex justify-content-between mb20">
				  						<h5>Total Area</h5>
				  						<div class="d-flex icon-holder">
											<object data="assets/arrow-right.svg" width="20" height="20"> </object>
										</div>
				  					</div>
				  					<div class="section-header align-items-end">
				  						<div>
						  				<h6 class="mb-2">1250 <span>sq. ft.</span></h6>
				  						</div>
						  			</div>
				  				</div>
				  				<div class="section-list-item">
				  					<div class="section-list-header d-flex justify-content-between mb20">
				  						<h5>Total Rooms</h5>
				  						<div class="d-flex icon-holder">
											<object data="assets/arrow-right.svg" width="20" height="20"> </object>
										</div>
				  					</div>
				  					<div class="section-header align-items-end">
				  						<div>
						  				<h6 class="mb-2">56 <span>rooms</span></h6>
				  						</div>
						  			</div>
				  				</div>
				  			</div>
			  			<!-- report sidbar list section start -->
			  		</div>
			  		<div class="tabs-inner-block">
			  			<!-- reports section details overveiw start  -->
		  				<div class="section-details">
		  					<div class="d-flex justify-content-between p15 section-details-header align-items-center">
		  						<div class="section-header">
		  							<h5>Total Rooms</h5>
		  						</div>
		  						<div class="d-flex header-button justify-content-between">
									<a href="#" class="btn btn-outline-secondary d-flex align-items-center text-uppercase" data-bs-toggle="modal" data-bs-target="#add_Building">
										<img src="assets/plus-icon.svg" alt="" class="mr5 image-responsive">
										<span>
											Custom Room
										</span>
									</a>
								</div>
		  					</div>
		  					<div class="section-details-content">
		  						<div class="report-header">
		  							<div class="list-label">
					  					Room Type
					  				</div>
					  				<div class="list-content">
					  					Total Area
					  				</div>
		  						</div>
								<div class="tab-content" id="myTabContent">
								  <div class="tab-pane fade show active" id="Details" role="tabpanel" aria-labelledby="Details-tab">
								  	<div class="inner-tab-section-list-holder">
								  		<ul class="section-list-block p-0 m-0">
								  			<li class="inner-tab-section-list-item d-flex justify-content-between">
								  				<div class="list-label">
								  					Classrooms
								  				</div>
								  				<div class="list-content">
								  					32
								  				</div>
								  			</li>
								  			<li class="inner-tab-section-list-item d-flex justify-content-between">
								  				<div class="list-label">
								  					Hallways
								  				</div>
								  				<div class="list-content">
								  					07
								  				</div>
								  			</li>
								  			<li class="inner-tab-section-list-item d-flex justify-content-between">
								  				<div class="list-label">
								  					Restrooms
								  				</div>
								  				<div class="list-content">
								  					06
								  				</div>
								  			</li>
								  			<li class="inner-tab-section-list-item d-flex justify-content-between">
								  				<div class="list-label">
								  					Offices
								  				</div>
								  				<div class="list-content">
								  					04
								  				</div>
								  			</li>
								  			<li class="inner-tab-section-list-item d-flex justify-content-between">
								  				<div class="list-label">
								  					Gyms
								  				</div>
								  				<div class="list-content">
								  					02
								  				</div>
								  			</li>
								  			<li class="inner-tab-section-list-item d-flex justify-content-between">
								  				<div class="list-label">
								  					Libraries
								  				</div>
								  				<div class="list-content">
								  					01
								  				</div>
								  			</li>
								  		</ul>
								  	</div>
								  </div>
								  <div class="tab-pane fade" id="Rooms" role="tabpanel" aria-labelledby="Rooms-tab">
								  	<div class="inner-tab-section-list-holder room-block">
								  		<ul class="section-list-block p-0 m-0">
								  			<li class="border d-flex flex-column inner-tab-section-list-item justify-content-between m15">
								  				<div class="list-label">
								  					Room 103
								  				</div>
								  				<div class="room-details">
								  					<span>400 sq. ft.</span>
								  					<span>21 desks</span>
								  					<span>08 windows</span>
								  				</div>
								  			</li>
								  			<li class="border d-flex flex-column inner-tab-section-list-item justify-content-between m15">
								  				<div class="list-label">
								  					Room 103
								  				</div>
								  				<div class="room-details">
								  					<span>400 sq. ft.</span>
								  					<span>21 desks</span>
								  					<span>08 windows</span>
								  				</div>
								  			</li>
								  			<li class="border d-flex flex-column inner-tab-section-list-item justify-content-between m15">
								  				<div class="list-label">
								  					Room 103
								  				</div>
								  				<div class="room-details">
								  					<span>400 sq. ft.</span>
								  					<span>21 desks</span>
								  					<span>08 windows</span>
								  				</div>
								  			</li>
								  		</ul>
								  	</div>
								  </div>
								  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
								  	<div class="inner-tab-section-list-holder">
								  		<ul class="section-list-block p-0 m-0">
								  			<li class="inner-tab-section-list-item d-flex justify-content-between">
								  				<div class="list-label">
								  					Abe Doe
								  				</div>
								  			</li>
								  			<li class="inner-tab-section-list-item d-flex justify-content-between">
								  				<div class="list-label">
								  					Bishan Gupta
								  				</div>
								  			</li>
								  			<li class="inner-tab-section-list-item d-flex justify-content-between">
								  				<div class="list-label">
								  					Bueran Hendricks
								  				</div>
								  			</li>
								  			<li class="inner-tab-section-list-item d-flex justify-content-between">
								  				<div class="list-label">
								  					Bunny Reagan
								  				</div>
								  			</li>
								  			<li class="inner-tab-section-list-item d-flex justify-content-between">
								  				<div class="list-label">
								  					Chris Morris
								  				</div>
								  			</li>
								  			<li class="inner-tab-section-list-item d-flex justify-content-between">
								  				<div class="list-label">
								  					Dom Bess
								  				</div>
								  			</li>
								  		</ul>
								  	</div>
								  </div>
								</div>
		  					</div>
		  				</div>
		  				<!-- report section details overveiw end  -->
			  		</div>
			  	</div>
			  </div>
			  <div class="tab-pane fade" id="Inspections" role="tabpanel" aria-labelledby="inspections">
			  	<div class="tabs-inner-content-holder">
			  		<div class="tabs-siderbar">
			  			<div class="section-list-holder inspection-sidbar">
			  				<div class="active d-flex justify-content-between section-list-item">
			  					<div class="section-list-header d-flex justify-content-between flex-column">
			  						<h6>Mon, 12/01/21 3:40 PM</h6>
			  						<h4>Inspection #1007</h4>
			  						<div class="inspection-name">by Jason Smith</div>
			  					</div>
			  					<div class="grade">
			  						<div class="grade-label">GRADE</div>
			  						<h3 class="grade-value">86%</h3>
			  					</div>
		  						<div class="d-flex icon-holder">
									<object data="assets/arrow-right.svg" width="20" height="20"> </object>
								</div>
			  				</div>
			  				<div class="d-flex justify-content-between section-list-item">
			  					<div class="section-list-header d-flex justify-content-between flex-column">
			  						<h6>Mon, 12/01/21 3:40 PM</h6>
			  						<h4>Inspection #1006</h4>
			  						<div class="inspection-name">by Jason Smith</div>
			  					</div>
			  					<div class="grade">
			  						<div class="grade-label">GRADE</div>
			  						<h3 class="grade-value">80%</h3>
			  					</div>
		  						<div class="d-flex icon-holder">
									<object data="assets/arrow-right.svg" width="20" height="20"> </object>
								</div>
			  				</div>
				  		</div>
			  		</div>
		  			<div class="tabs-inner-block">
			  			<!-- Select a inspection to view details  start -->
			  			<div class="section-block d-none">
			  				<div class="image-holder">
			  					<object data="assets/section-img.jpg" width="320" height="244"> </object>
			  					<h5>Select a inspection to view details</h5>
			  				</div>
			  			</div>
		  				<!-- Select a inspection to view details end -->

		  				<div class="inspections-details">
		  					<div class="header">
		  						<h5>Inspection Result - <span>#1007</span></h5>
		  					</div>
		  					<div class="accordion" id="accordionExample">
							  <div class="accordion-item mb-4">
							    <h2 class="accordion-header" id="headingOne">
							      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							      	<div class="d-flex justify-content-between w-100">
								        <div class="inspections-sub-details">
								        	<div class="date-label">
								        		Mon, 12/01/21 3:40 PM
								        	</div>
								        	<h4>Classroom 102</h4>
								        	<div class="inspection-name">cleaned by Tyler Harris</div>
								        </div>
								        <div class="points-holder pr30">
					  						<div class="points-label">Total Points</div>
					  						<h3 class="points-value">05/06</h3>
					  					</div>
							      	</div>
							      </button>
							    </h2>
							    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
							      <div class="accordion-body">
							        Accordion Item #1
							      </div>
							    </div>
							  </div>
							  <div class="accordion-item mb-4">
							    <h2 class="accordion-header" id="headingTwo">
							      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							        <div class="d-flex justify-content-between w-100">
								        <div class="inspections-sub-details">
								        	<div class="date-label">
								        		Mon, 12/01/21 3:40 PM
								        	</div>
								        	<h4>Classroom 102</h4>
								        	<div class="inspection-name">cleaned by Tyler Harris</div>
								        </div>
								        <div class="points-holder pr30">
					  						<div class="points-label">Total Points</div>
					  						<h3 class="points-value">04/06</h3>
					  					</div>
							      	</div>
							      </button>
							    </h2>
							    <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
							      <div class="accordion-body p-0">
							        <div class="inspections-table pt-3">
							        	<div class="d-flex header-block justify-content-between mb-3 px-3">
							        		<div class="header-label">PARAMETER</div>
							        		<div class="header-label">RESULT</div>
							        		<div class="header-label">POINTS</div>
							        	</div>
							        	<div class="content-block">
							        		<ul>
							        			<li class="">
							        				<div class="content-text p-3">
								        				<div class="content-parameter">
								        					1. Floors swept and mopped
								        				</div>
								        				<div class="content-result">
								        					PASS
								        				</div>
								        				<div class="content-points">
								        					01
								        				</div>
							        				</div>
							        			</li>
							        			<li class="">
							        				<div class="content-text p-3">
								        				<div class="content-parameter">
								        					2. Desktops cleaned and disinfected
								        				</div>
								        				<div class="content-result">
								        					PASS
								        				</div>
								        				<div class="content-points">
								        					01
								        				</div>
								        			</div>
							        			</li>
							        			<li class="fail">
							        				<div class="content-text p-3">
								        				<div class="content-parameter">
								        					3. High dusting completed
								        				</div>
								        				<div class="content-result">
								        					FAIL
								        				</div>
								        				<div class="content-points">
								        					00
								        				</div>
								        			</div>
							        				<div class="content-inner-block">
							        					<h6>Inspection notes & images</h6>
							        					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vel et nulla ut amet porttitor dolor. Aenean vivamus tristique tincidunt est in porttitor.</p>
							        					<div class="d-flex image-holder justify-content-between">
							        						<div class="image-block">
							        							<object data="assets/classroom-1.jpg" width="160" height="120"> </object>
							        						</div>
							        						<div class="image-block">
							        							<object data="assets/classroom-2.jpg" width="160" height="120"> </object>
							        						</div>
							        						<div class="image-block">
							        							<object data="assets/classroom-3.jpg" width="160" height="120"> </object>
							        						</div>
							        					</div>
							        				</div>
							        			</li>
							        			<li class="">
							        				<div class="content-text p-3">
								        				<div class="content-parameter">
								        					4. Trash emptied
								        				</div>
								        				<div class="content-result">
								        					PASS
								        				</div>
								        				<div class="content-points">
								        					01
								        				</div>
								        			</div>
							        			</li>
							        			<li class="">
							        				<div class="content-text p-3">
								        				<div class="content-parameter">
								        					5. Glass cleaned
								        				</div>
								        				<div class="content-result">
								        					PASS
								        				</div>
								        				<div class="content-points">
								        					01
								        				</div>
								        			</div>
							        			</li>
							        		</ul>
							        	</div>
							        </div>
							      </div>
							    </div>
							  </div>
							  <div class="accordion-item mb-4">
							    <h2 class="accordion-header" id="headingThree">
							      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
							         <div class="d-flex justify-content-between w-100">
								        <div class="inspections-sub-details">
								        	<div class="date-label">
								        		Mon, 12/01/21 3:40 PM
								        	</div>
								        	<h4>Classroom 102</h4>
								        	<div class="inspection-name">cleaned by Tyler Harris</div>
								        </div>
								        <div class="points-holder pr30">
					  						<div class="points-label">Total Points</div>
					  						<h3 class="points-value">05/06</h3>
					  					</div>
							      	</div>
							      </button>
							    </h2>
							    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
							      <div class="accordion-body">
							       	Accordion Item #3
							      </div>
							    </div>
							  </div>
							</div>
		  				</div>
	  				</div>
			  	</div>
			  </div>
			  <div class="tab-pane fade" id="People" role="tabpanel" aria-labelledby="People">People</div>
			</div>
		</div>
	</div>
</div>
