<!-- login page start -->

<!-- <div class="device-holder d-flex h-100">
    <div class="image-holder flex-fill">
        <img src="assets/device.jpg" alt="" class="image-responsive">
        <div class="image-caption">
            <div class="caption-head">
              <h2>Cleaning Services</h2>
              <p>A one line description of company’s motto</p>
            </div>
            <div class="caption-footer">
                <a href="#" class="new-user d-inline-block">New User ?</a>
                <a class="btn btn-light w-100" href="#" role="button">Sign up</a>
            </div>
        </div>
    </div>
    <div class="align-items-center d-flex flex-fill justify-content-center login-content">
        <div class="login-holder">
            <h2>Login</h2>
            <form>
              <div class="mb-4">
                <div class="form-floating mb-3 go-bottom">
                    <input type="email" class="form-control" id="floatingInput" placeholder="sample@example.com">
                    <label for="name">Email address</label>
                  </div>
              </div>
               <div class="mb-4">
                  <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                  </div>
              </div>
              <div class="mb-4 form-check d-flex justify-content-between">
                <div>
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Remember me</label>
                </div>
                <a href="#" class="forgot-link">Forgot Password ?</a>
              </div>
              <button type="submit" class="btn btn-primary w-100">Continue</button>
            </form>
        </div>
    </div>
</div> -->
<!-- login page end -->


<!-- sign up page start -->
<div class="device-holder d-flex h-100">
    <div class="align-items-center d-flex flex-fill justify-content-center login-content">
      <div class="login-holder">
          <h2>Sign up</h2>
          <form>
            <div class="mb-4">
              <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingInput" placeholder="First Name">
                  <label for="name">First Name</label>
                </div>
            </div>
             <div class="mb-4">
                <div class="form-floating">
                   <input type="text" class="form-control" id="floatingInput" placeholder="Lasr Name">
                  <label for="name">Last Name</label>
                </div>
            </div>
            <div class="mb-4">
              <div class="form-floating mb-3 go-bottom">
                <input type="email" class="form-control" id="floatingInput" placeholder="samplee@example.com">
                <label for="name">Email address</label>
              </div>
            </div>
             <div class="mb-4">
                <div class="form-floating">
                   <input type="number" class="form-control" id="floatingInput" placeholder="Phone no">
                  <label for="name">Phone no.</label>
                </div>
            </div>
            <div class="mb-4">
                  <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                  </div>
              </div>
              <div class="mb-4">
                  <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Confirm Password">
                    <label for="floatingPassword">Confirm Password</label>
                  </div>
              </div>
              <div class="mb-4">
                <div class="form-floating">
                   <input type="number" class="form-control" id="floatingInput" placeholder="Employer Code">
                  <label for="name">Employer Code</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary w-100">REGISTER</button>
          </form>
      </div>
    </div>
    <div class="image-holder flex-fill">
        <img src="assets/device.jpg" alt="" class="image-responsive">
        <div class="image-caption">
            <div class="caption-head">
              <h2>Cleaning Services</h2>
              <p>A one line description of company’s motto</p>
            </div>
            <div class="caption-footer">
                <a href="#" class="new-user d-inline-block">Already registered ?</a>
                <a class="btn btn-light w-100" href="#" role="button">Login</a>
            </div>
        </div>
    </div>

</div>
<!-- sign up page end -->



