.overveiw {
	.btn.btn-outline-secondary{
		color: #136162;
		border: 1px solid rgba(5, 36, 37, 0.12);
		&:hover{
			border: 1px solid #136162;
			background-color: #fff;
		}
	}
	.titile-name {
		color: #136162;
		font-size: 16px;
		font-weight: 500;
	}
	.building-card-holder {
		border-radius: 12px;
		overflow: hidden;
		border: 1px solid rgba(5, 36, 37, 0.12);
		.building-card-footer  {
			h6 {
				font-size: 14px;
				text-transform: uppercase;
				color: #136162;
			}
		}
	}
	.building-image {
		position: relative;
		.building-caption{
			position: absolute;
			top: 0;
			background: linear-gradient(
			180deg
			, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.4) 40.1%, rgba(0, 0, 0, 0.5) 57.29%, rgba(0, 0, 0, 0.6) 72.92%);
			width: 100%;
			height: 100%;
			display: flex;
			align-items: flex-end;
			.caption-holder {
				width: 100%;
				color: #fff;
				h3{
					font-weight: normal;
					font-size: 34px;
				}
			}
			.building-details-holder{
				color: rgba(255, 255, 255, 0.74);
			}

		}
	}
	.main-content-tabs-section {
		height: 100vh;
		.nav-tabs {
			.nav-link {
				text-transform: uppercase;
				flex: auto;
				font-size: 14px;
				color: rgba(5, 36, 37, 0.6);
				padding: .8rem 0.5rem;
				font-weight: 500;
				&:hover,
				&.active {
					color: #136162;
					border-bottom: 2px solid;
					border-color: #fff #fff #136162;
				}
			}
		}
		.tab-content {
			height: calc(100vh - 22vh);
			.tab-pane {
				height: inherit;
				&.people-tab-holder {
					.tabs-siderbar {
						.tab-pane {
							ul {
								.list-item {
									border-bottom: 1px solid rgba(5, 36, 37, 0.12);
									padding: 11px 15px;
									color: rgba(5, 36, 37, 0.87);
									&.active,
									&:hover {
										background: #B4DBDB;
										cursor: pointer;
									}
								}
							}
						}
					}
				}
			}
			.tabs-inner-content-holder {
				display: flex;
				height: inherit;
				.tabs-siderbar {
					max-width: 350px;
					width: 100%;
					padding: 15px;
					border-right: 1px solid rgba(5, 36, 37, 0.12);
				}
				.tabs-inner-block {
					width: 100%;
					.section-details {
						height: 100%;
						.section-details-header {
							.section-header {
								h5 {
									color: rgba(5, 36, 37, 0.6);
									letter-spacing: 0.15px;
									font-weight: 500;
									margin: 0;
								}
							}
						}
						.report-header {
							display: flex;
							justify-content: space-between;
							padding: 11px 15px 5px;
							.list-content,
							.list-label {
								font-size: 14px;
								text-transform: uppercase;
								color: rgba(5, 36, 37, 0.38);
								font-weight: 500;
							}
						}
					}
					.people-details-holder,
					.inspections-details {
							padding: 15px;
							max-height: calc(100% - 4em);
							overflow: scroll;
						.header {
							margin: 15px 0;
							color: rgba(5, 36, 37, 0.6);
							span {
								color: rgba(5, 36, 37, 0.87);
							}
						}
						.accordion {
							.accordion-item {
								border: 1px solid rgba(5, 36, 37, 0.12);
								border-radius: 12px;
								.accordion-header {
									.accordion-button {
										border:0;
										&:focus {
											box-shadow: none;
										}
								    	&:after {
											margin-top: -50px;
								    	}
										&:not(.collapsed) {
									    	color: #212529;
									    	background-color: transparent;
									    }
									    .inspections-sub-details {
									    	.date-label {
												font-size: 12px;
												color: #136162;
									    	}
									    	h4 {
												font-weight: 500;
												color: rgba(5, 36, 37, 0.87);
												margin: 5px 0 8px;
												font-size: 20px;
									    	}
									    	.inspection-name {
												color: rgba(5, 36, 37, 0.87);
												font-weight: normal;
									    	}
									    }
									    .points-holder {
									    	.points-label {
												font-size: 10px;
												color: rgba(5, 36, 37, 0.38);
												letter-spacing: 1.5px;
												text-transform: uppercase;
									    	}
								    		.points-value {
												color: #136162;
												font-size: 36px;
								    		}
									    }
									}
								}
								.accordion-collapse {
									border:0;
									border-top: 1px solid rgba(5, 36, 37, 0.12);
									.inspections-table {
										.header-block {
											color: rgba(5, 36, 37, 0.38);
											font-size: 14px;
											font-weight: 500;
											.header-label {
												flex: 1 0 0%;
												
												&:nth-child(3){
													max-width: 200px;
													text-align: center;
												}
												&:nth-child(2){
													max-width: 100px;
													text-align: center;
												}
											}
										}
										.content-block {
											ul {
												padding: 0;
												list-style: none;
												li {
													.content-text {
													    display: flex;
															color: rgba(5, 36, 37, 0.87);
															border-bottom: 1px solid rgba(5, 36, 37, 0.12);
														.content-parameter{
															flex: 1 0 0%;
														}
														.content-result {
															flex: 1 0 0%;
															max-width: 100px;
															text-align: center;
															color: rgba(46, 210, 92, 0.87);
														}
														.content-points {
															flex: 1 0 0%;
															max-width: 200px;
															text-align: center;
															font-weight: 500;
														}
														}
														&.fail {
															.content-result {
																color: rgba(249, 34, 21, 0.87);
															}
															.content-text {
																border-bottom: 0;
															}
													}
													&:last-child {
															.content-text {
																border-bottom: 0;
														}
													}
													.content-inner-block  {
														padding: 0 32px;
														color: rgba(5, 36, 37, 0.6);
														font-size: 14px;
														border-bottom: 1px solid rgba(5, 36, 37, 0.12);
														padding-bottom: 15px;
														h6 {
															color: rgba(5, 36, 37, 0.87);
															font-size: 14px;
															font-weight: 500;
															margin-bottom: 10px;
														}
														.image-block {
															border-radius: 12px;
															overflow: hidden;
															margin: 0 10px;
														}
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
		.section-header{
			display: flex;
			align-items: center;
			justify-content: space-between;
			h6 {
				color: rgba(5, 36, 37, 0.6);
				letter-spacing: 0.15px;
				font-weight: 500;
				margin: 0;
			}
			.header-button {
				.btn {
				    color: #136162;
				    border: 1px solid rgba(5, 36, 37, 0.12);
				    &:hover {
						border: 1px solid #136162;
						background-color: #fff;
					}
				}
			}
		}
		.inner-tab-section-list-holder {
			max-height: calc(100% - 12em);
			overflow: scroll;
			.section-list-block {
				list-style: none;
				.inner-tab-section-list-item {
					border-bottom: 1px solid rgba(5, 36, 37, 0.12);
					padding: 11px 15px;
					.list-label {
						color: rgba(5, 36, 37, 0.87);
						font-size: 16px;
						font-weight: normal;
					}
					.list-content {
						color: rgba(5, 36, 37, 0.87);
						font-weight: 500;
					}
				}
			}
			&.room-block {
				.inner-tab-section-list-item {
					border-radius: 12px;
					margin-bottom: 15px;
					.list-label  {
						color: #1C4F51;
						font-weight: 500;
						margin-bottom: 15px;
					}
					.room-details {
						font-size: 14px;
						color: rgba(5, 36, 37, 0.6);
						margin-bottom: 5px;
						span {
							margin-right: 40px;

						}
					}
				}
			}
		}
		.section-block{
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			.image-holder {
				h5{
					margin: 0;
					font-weight: 300;
					text-align: center;
					color: rgba(5, 36, 37, 0.87);
				}
			}
		}
		.section-list-holder {
		    margin-top: 20px;
			max-height: calc(100% - 7em);
			overflow: scroll;
		    .section-list-item {
				background: #F2F6F6;
				border-radius: 12px;
				padding: 15px;
				margin-bottom: 15px;
				&:hover,
				&.active {
					background: #B4DBDB;
					cursor: pointer;
				}
				.header-button {
					.btn {
						&:hover {
							background:transparent;
						}
					}
				}
				.section-list-header {
					h5 {
						color: #1C4F51;
						margin: 0;
					}
				}
		    }
		    &.report-holder {
		    	.section-header {
		    		h6 {
		    			font-size: 32px;
		    			color: #136162;
		    			span {
		    				font-size: 16px;
		    			}
		    		}
		    	}
		    	.section-list-header {
					h5 {
						color: rgba(5, 36, 37, 0.6);
						font-size: 16px;
					}
				}
		    }
		    &.inspection-sidbar {
				h6 {
					font-size: 12px;
					color: #136162;
				}
				h4 {
					font-weight: 500;
					color: rgba(5, 36, 37, 0.87);
					margin-bottom: 10px;
					font-size: 20px;
				}
				.inspection-name {
					color: rgba(5, 36, 37, 0.87);
					font-weight: normal;
				}
				.grade {
					.grade-label {
						font-size: 10px;
						color: rgba(5, 36, 37, 0.38);
					}
					.grade-value {
						color: #136162;
						font-size: 36px;
					}
				}
			}
		}

	}
}